
.main {
    display: flex;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 65px;
    border-bottom: 2px solid #F3CA40;
}

.aboutTxt {
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 733px;
    background-color: #323C4F;
    padding: 0 165px;
    border-radius: 20px;
    align-items: center;
}

.aboutSub {
    font-size: 65px;
    color: #FFFF;
    text-align: center;
    width: 1237px;
    padding-bottom: 45px;
    padding-top: 39px;
}

span {
    color: #F3CA40;
}

.aboutP {
    font-size: 30px;
    color: #FFFF;
    
}