
.main {
    display: flex;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 65px;
    border-bottom: 2px solid #F3CA40;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.aboutTxt {
    display: flex;
    flex-direction: column;
    width: 1600px;
    background-color: #323C4F;
    padding: 115px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    
}

.aboutSub {
    font-size: 65px;
    color: #FFFF;
    text-align: center;
    width: 65vw;
    padding-bottom: 69px;
}

span {
    color: #F3CA40;
}

.aboutP {
    font-size: 30px;
    color: #FFFF;
    
}