.modal {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 85px;
    background-color: #e6e6e6;
    border-radius: 8px;
    z-index: 8888;
    justify-content: center;
}

.modalBt {
    cursor: default;
    width: 100%;
    padding: 5px 5px;
}

.modalBt:hover {
    background-color: #c4c4c4;
    transition: .2s;
}