 .homeSec {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #F3CA40;
}



.mainTitle {
    font-weight: 900;
    font-size: 80px;
    color: #F3CA40;
    padding-bottom: 42px;
}

.txt {
    color: #FFFF;
    text-align: center;
    border-bottom: 2px solid #F3CA40;
    padding: 125px 0;
}

.homeP {
    font-size: 30px;
    font-weight: 500;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 84px;
}

.prevSize {
    width: 27vw;
    padding-top: 70px;
}

.prevSub {
    color: #FFFF;
    font-size: 50px;
    
}

.prevEx {
    width: 82vw;
    height: 645px;
    background-color: #FFFF;
    border-radius: 20px;
}

@media screen and (max-width: 1250px) {

.interface {
    padding: 0 2%;
}

.mainTitle {
    font-size: 50px;
}

.homeP {
    font-size: 20px;
}

.prevEx {
    border-radius: 0;
    height: 425px;
}

}
