@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

header {
    padding: 40px 4%;   
    background-color: #F3CA40;
}

.headerMain {
    max-width: 1280px;
    margin: 0 auto;
}

header > .headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.btMenu {
    font-size: 33px;
    cursor: pointer;
    padding: 0 40px;
}

.btMenu:hover {
    transform: scale(1.05);
    transition: .3s;
    color: #FFFF;
}

.icons {
    height: 38px;
    width: 38px;
    position: relative;
    top: 4px;
    left: -5px;
}

@media screen and (max-width: 1250px) {
  header {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .btMenu {
    font-size: 2vmax;
  }

  .icons {
    width: 30px;
    position: relative;
    top: 10px;
    
  }
}


    