.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.workTxt {
    font-size: 40px;
    padding-bottom: 9px;
    color: #FFFF;
}

.workP {
    font-size: 30px;
    color: #FFFF;
    margin-bottom: 45px;
}

.workArea {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 1021px;
    margin: 40px 59px;
    border-radius: 20px;
    align-items: center;
}

canvas {
    position: relative;
    border-radius: 20px;
    top: -100px;
    overflow: hidden;
}

.toolbar {
    display: flex;
    width: 530px;
    z-index: 8888;
}

.bt {
    display: flex;
    width: 65px;
    height: 61px;
    margin-top: 37px;
    margin-left: 45px;
    font-size: 32px;
    padding-top: 5px;
    background-color: #F9F9F9;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#btTr {
    font-size: 28px;
}

.bt:hover {
    color: #F3CA40;
    transition: .2s;
    cursor: pointer;
}